/* You can add global styles to this file, and also import other style files */
.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.spinner>.ng-star-inserted{
    height: 100%;
    display: flex;
    margin: auto;
}

.spinner{
  
    height: 100%;
    .ant-spin{
        margin: auto;
    }
}

.photos{
    .ant-card{
        width: 100%!important;
    }

    .ant-tag{
        font-size: 10px;
        margin-bottom: 0.5vh;
    }
    .ant-card-body {
        padding: 1vh;
        background: #f0f2f5;
    }
    .ant-card-cover{
        margin-bottom: 1.5vh;
    }
}

.nz-content{
    margin: 0;;
}