################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/AuthTest
/backend/AuthTest.Core/bin
/backend/AuthTest.Core/bin
/backend/AuthTest.Core/bin
/backend/AuthTest.Core/bin
/backend/AuthTest.Core/obj
/backend/AuthTest.Data/bin
/backend/AuthTest.Data/obj
/backend/AuthTest.Core/obj
/backend/AuthTest.Core/bin/Debug/netcoreapp3.1
/backend/AuthTest1/bin/Debug/netcoreapp3.1