
<nz-layout class="layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            [nzCollapsedWidth]="0">
    <div class="sidebar-logo">
      <a  routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Nihutak</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Фото" nzIcon="picture">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/">Лента</a>
          </li>
        </ul>
      </li>
      <li *ngIf="currentUser?.username"  nz-submenu nzOpen [nzTitle]="currentUser?.username" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a (click)=logout()>{{ 'USER.LOGOUT' | translate }}  </a>
          </li>
        </ul>
      </li>
      <li *ngIf="!currentUser?.username"  nz-submenu nzOpen [nzTitle]="'USER.PERSONAL' | translate" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a (click)=login()>{{ 'USER.LOGIN' | translate }}  </a>
          </li>
        </ul>
      </li>
      
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>    <div class="app-header">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
      </span>
    </div></nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet>
          
        </router-outlet>
          <nz-alert
          *ngIf="error"
          class="error-alert"
          nzType="error"
          nzCloseable
          nzMessage="Произошла ошибка"
          [nzDescription]="error"
          (nzOnClose)="afterClose()"
        >
        </nz-alert>
  
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


