<div class="photos" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollContainer]="'.ant-layout'"
[infiniteScrollThrottle]="50" (scrolled)="onScroll()" *ngIf ="!loading">
<div  *ngFor="let photo of photos">
    
<nz-card   nzHoverable style="width:240px" [nzCover]="coverTemplate">
    <!-- <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com">!!!</nz-card-meta> -->
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" [src]="photo.url" />
    <div class="desc-wrapper">
    <div class="tags">
        <nz-tag  *ngFor="let tag of photo.tags" >{{tag.name}}</nz-tag>    
    </div>
    <div class="desc">{{photo.description}}</div>
    <div class="date">{{photo.date}}</div>
    <div class="geo"><span [class]="getClass(photo)"></span><span>{{photo.city.name}}</span></div>
</div>
  </ng-template>  
</div>
</div>
  <nz-spin class="spinner" *ngIf ="loading" nzSimple [nzSize]="'large'"></nz-spin>

