<form *ngIf ="!loading" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="username" placeholder="{{ 'USER.USERNAME' | translate }}" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="{{ 'USER.PASSWORD' | translate }}" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <a class="login-form-forgot" (click)="resetPassword()" class="login-form-forgot">{{ 'USER.FORGOT' | translate }}</a>
        <button nz-button class="login-form-button" [nzType]="'primary'">{{ 'USER.LOGIN' | translate }}</button>
        {{ 'USER.OR' | translate }}
        <a (click)="btnClick()">  {{ 'USER.REGISTERING' | translate }}!</a>
      </nz-form-control>
    </nz-form-item>  
    <div>
    <span class="pull-left"> login methods</span>
    <div  (click)="externalAuth('Google')" style="margin-left: 10px;" class="google pict pull-right">
   </div>
    <div (click)="externalAuth('Vk')" style="margin-right: 10px;" class="vk pict pull-right">
      </div>
  </div>
  </form>  
  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  <nz-spin class="spinner" *ngIf ="loading" nzSimple [nzSize]="'large'"></nz-spin>